.login{
    display: flex;
    justify-content: center;
    background-image: url(../assets/images/bg1.jpg);
    position: fixed;
    height: 100%;
    width: 100%;
  }
  .loginForm{
    display: flex;
    justify-content: center;
    height: 580px;
  }
  .loginContent{
    margin: 140px 0;
    padding: 25px 50px;
    box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.2);
    background-color: $primary-color;
    text-align: center;
  }
  .email, .password{
    color: #303030;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #f8f8f8;
    background-color: $primary-color;
    margin-bottom: 25px;
    outline: 0;
    font-size: 14px;
  }
  ::placeholder{
    color: #000;
    opacity: 0.6;
  }
  .btn-login, .btn-signup{
    margin: 0 auto;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #f8f8f8;
    &:hover{
      background-color: #ebebeb;
    }
  }